.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  border: 1px solid #ccc;
  border-radius: 16px;
  width: 500px;
  height: 205px;
  padding-left: 24px;
  text-align: left;
  background-color: #fff;
}
.modalTitle {
  font-weight: 700;
  font-size: 22px;
  color: #000;
  margin-bottom: 24px;
}
.text {
  font-size: 16px;
  color: #000;
  margin-bottom: 8px;
}
.input {
  border: 1px solid #777;
  border-radius: 8px;
  width: 452px;
  height: 32px;
  margin-bottom: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #000;
  padding-left: 11.2px;
}

.input::placeholder {
  color: #ccc;
}
.enterBtn {
  border-radius: 8px;
  width: 111px;
  height: 32px;
  background-color: #7695ec;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.enterBtn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  opacity: 0.6;
}
